################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/.vs/BlueprintEditor/v15
/BlueprintEditor/bin
